import { Application } from "express";
import * as Keycloak from "keycloak-connect";

{{#apiInfo}}
{{#apis}}
{{#operations}}
import {{ classname }}Impl from './impl/{{ classFilename }}';
{{/operations}}
{{/apis}}

export default class Api {

  /**
   * Constructor
   * 
   * @param app Express app
   * @param keycloak Keycloak
   */
  constructor(app: Application, keycloak: Keycloak) {
    {{#apis}}{{#operations}}
      new {{ classname }}Impl(app, keycloak);
    {{/operations}}{{/apis}}
  }
}
{{/apiInfo}}