{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "swagger client for {{{npmName}}}",
  "author": "Metatavu",
  "keywords": [
    "swagger-client"
  ],
  "license": "AGPL-3.0"
}
