using System;
using UnityEngine;
using Hacky.rest.models;
using Hacky.rest.utils;

namespace Hacky.rest.services {

   
{{#operations}}
    public sealed class {{classname}} : MonoBehaviour
    {
       private static {{classname}} _instance;

        public static {{classname}} Instance => _instance; 


        private void Awake()
        {
            if (_instance != null && _instance != this)
            {
                Destroy(this.gameObject);
            } else {
                _instance = this;
            }
        }
        {{#operation}}
        /**
        * {{&notes}}
        {{#summary}}
        * @summary {{&summary}}
        {{/summary}}
        {{#allParams}}   
        * @param {{paramName}} {{description}}
        {{/allParams}}
        */
        public void {{operationId}}({{#allParams}} {{dataType}} {{paramName}},{{/allParams}} Action<{{#returnType}}{{#isListContainer}}{{{baseName}}}List{{else}}{{{returnType}}}{{/isListContainer}}{{/returnType}}> onSuccess, Action<HttpError> onError, string token) {
           
           
           StartCoroutine(ApiUtils.Request("{{httpMethod}}", $"https://bittineuvos.com/api{{path}}",onSuccess, onError, token{{#allParams}}{{#if @first}}{{#is this 'string'}}{{else}}, JsonUtility.ToJson({{paramName}}){{/is}}{{/if}}{{/allParams}}));
        
        }

        {{/operation}}
       
    }
{{/operations}}

} 