using System.Collections;
using System;
using UnityEngine;
using UnityEngine.Networking;
using UnityEngine.UI;

namespace Hacky.rest.services {

    interface IJsonSerializable
    {
        string ToJson();
    }


{{#operations}}
    public class {{classname}} {
        {{#operation}}

        /**
        * {{&notes}}
        {{#summary}}
        * @summary {{&summary}}
        {{/summary}}
        {{#allParams}}   
        * @param {{paramName}} {{description}}
        {{/allParams}}
        */
        public static void {{nickname}}({{#allParams}} {{dataType}} {{paramName}}  {{#if @last}}, Action<{{dataType}}> onSuccess, Action<string> onError, string token, string json = null {{/if}} {{/allParams}}) {
           
           StartCoroutine(Request("{{httpMethod}}", $"https://bittineuvos.com/api{{path}}",onSuccess, onError, token, json));
        
        }

        {{/operation}}

        private static IEnumerator Request<T,K>(string reqmethod, string url, Action<T> onSuccess, Action<K> onError, string token, string json = null)
        {

            
            using (UnityWebRequest www = CreateRequest(reqmethod,url,data))
            {
                www.SetRequestHeader("Authorization",$"Bearer {token}");
                yield return www.SendWebRequest();

                if (www.isNetworkError || www.isHttpError)
                {
                    Debug.Log($"{www.responseCode} : {www.downloadHandler.text}");
                    onError($"{www.responseCode} : {www.downloadHandler.text}");
                }
                else
                {
                    Debug.Log(www.downloadHandler.text);
                    onSuccess(new T(www.downloadHandler.text));

                }
                 
            }
        }
        private static UnityWebRequest CreateRequest(string reqmethod, string url, string data = null)
        {
            if(reqmethod == "POST") return UnityWebRequest.Post(url,data);
            else if(reqmethod == "GET") return UnityWebRequest.Get(url);
            else if(reqmethod == "PUT") return UnityWebRequest.Put(url,data);
            else if(reqmethod == "DELETE") return UnityWebRequest.Delete(url);

        }
       
    }
{{/operations}}

} 