    [Serializable]
    public class {{classname}} : {{#parent}}extends {{{parent}}} , {{/parent}} IJsonSerializable { {{>modelGenericAdditionalProperties}}
        
    {{#vars}}
        {{#description}}
        /**
        * {{{description}}}
        */
        {{/description}}
        public {{datatype}} {{name}};
    {{/vars}}
        public {{classname}}(string json)
        {
            var c = JsonUtility.FromJson<{{classname}}>(json);
            // copy fields
            {{#vars}}
            {{name}} = c.{{name}};
            {{/vars}}
        }
        public string ToJson(){
            return JsonUtility.ToJson(this);
        }

        public static {{classname}} CreateFromJson(string json)
        {
            return JsonUtility.FromJson<{{classname}}>(json);
        }
    }{{>modelGenericEnums}}