    [Serializable]
    public class {{classname}} {{#parent}}: {{{parent}}}{{/parent}} { {{>modelGenericAdditionalProperties}}
        
    {{#vars}}
        {{#description}}
        /**
        * {{{description}}}
        */
        {{/description}}
        public {{datatype}} {{baseName}};
        
    {{/vars}}
       
    }{{>modelGenericEnums}}

    [Serializable]
    public class {{classname}}List
    { 
        public List<{{classname}}> items;   
    }