/*jshint esversion: 6 */
/* global __dirname */

(() => {
  'use strict';

  const AbstractService = require(`${__dirname}/../abstract-service`);

  /**
   * Abstract base class for {{{baseName}}} REST service
   */
  class Abstract{{{baseName}}}Service extends AbstractService {
{{#operations}}
{{#operation}}

   /**
    {{#summary}}
    * {{{summary}}}
    {{/summary}}
    {{#notes}}
    * {{{notes}}}
    {{/notes}}
    *
    * @param {http.ClientRequest} req client request object
    * @param {http.ServerResponse} res server response object
    **/
    {{{operationId}}}(req, res) {
      res.status(501).send();
    }
{{/operation}}
{{/operations}}

   /**
    * Registers REST routes
    *
    * @param app express object
    **/
    register(app, keycloak) {
{{#operations}}
{{#operation}}
      app.{{httpMethod}}(`/rest/v1${this.toPath('{{{path}}}')}`, [ keycloak.protect() ], this.catchAsync(this.{{{operationId}}}.bind(this)));
{{/operation}}
{{/operations}}
    }
  };

  module.exports = Abstract{{{baseName}}}Service;

})();

